<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Create Employee
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="email">Full Name</label>
                        <input type="text" class="form-control" id="email" aria-describedby="emailWarning"
                            placeholder="Enter full name">
                        <!-- <small id="emailWarning" class="form-text text-danger">We'll never share your email with anyone
                            else.</small> -->
                    </div>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary">Create Employee</a>
            </div>
        </div>
    </div>
</div>